<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Find Your Customer</h1>
    <div class="btn-group">
      <%= link_to 'All Customer', customers_index_path , :class => "btn btn-secondary"%>
      <%= link_to 'Order Customers by Alphabet', customers_alphabetized_path, :class => "btn btn-secondary" %>
      <%= link_to 'Show customers without email', customers_missing_email_path , :class => "btn btn-secondary"%>
    </div>
  </div>
</div>