<div class="jumbotron">
    <h1 class="display-4">All Customers</h1>
    <div class="card-group">
      <% @customers.each do |customer| %>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= customer.full_name %></h3>
            <p class="card-text"><%= customer.phone_number %></p>
            <p class="card-text"><%= customer.email_address %></small></p>
          </div>
          <%= image_tag customer.image, :class => "card-img-top ", :alt => customer.full_name %>
        </div>
      <% end %>
    </div>
</div>
